@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

/* Reset some default styles to ensure consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Apply styles to the entire body */
  body {
    font-family: Arial, sans-serif;
    background: url('./377717111_876059913370745_798872553722894085_n.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  /* Style the header and navigation */
  header {
    background-color: pink;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  header .logo {
    font-size: 24px;
    padding-top: 20px;
    color: white;
  }
  
  header .fa-facebook {
    font-size: 24px;
    color: white;
    margin-left: 10px;
  }
  
  /* Style the main content */
  .content {
    background-color: none;
    border-radius: 10px;
  }
  
  .content h3 {
    background-color: darkorchid;
    font-size: 24px;
    margin-bottom: 0px;
  }
  
  .content p {
    font-size: 16px;
    padding-top: 200px;
  }
  
  /* Style the picture */
  .picture img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Style the separator */
  .separator {
    height: 2px;
    background-color: #333;
    margin: 20px 0;
  }
  
  /* Style the "Message me" section */
  .message-me {
    background-color: none;
    padding: 20px;
    border-radius: 10px;
  }
  
  .message-me p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .message-me .button {
    font-style: normal;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  /* Style the footer */
  footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    position: sticky;
    bottom: 0;
    color: white;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
  }
  
  .footer-menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-menu a {
    text-decoration: none;
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .content {
      padding: 10px;
    }

    .footer2 {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        width: 100%;
        position: sticky;
        bottom: 10;
        color: white;
      }

    .pie {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .buttones {
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 70px;
    }
  }
  